<!DOCTYPE html>
<html>
    <head>
        <title>ArticleAmazing</title>
    </head>
    <body>
        <h1>ARTICLEamazing</h1>
        <% if @articles %>
        <ul>
        <% @articles.each do |article| %>
          <li><%= article =%></li>
        <% end %>
        </ul>
        <% end %>
        
        <% if @users %>
            <ul>
            <% @users.each do |user| %>
              <li><%= user['id'] =%></li>
              <li><%= user['first_name'] =%></li>
              <li><%= user['last_name'] =%></li>
              <li><%= user['email'] =%></li>
              <ul>
                <% user['articles'].each do |article| %>
                  <li><%= article['title'] =%></li>
                  <li><%= article['text'] =%></li>
                <% end %>
              </ul>
            <% end %>
            </ul>
        <% end %>
    </body>
</html>